{{ define "artiste" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Artiste</title>
</head>
<body>
    <header>
        <a href="/" class="logo"><img src="/template/img/Blue Simple Company Logo.svg" alt="Groupie tracker"></a>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/artiste" class="active">Artist</a></li>
            <li><a href="/map">Map</a></li>
        </ul>
        <div>
            <div>

            </div>
            <div class="bx bx-menu" id="menu-icon">
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <h1>footer)</h1>
    </footer>
</body>
</html>

{{ end }}